<p>gantt-kendo works!</p>
<!-- childrenField="subtasks"  -->
<!-- [dependencies]="dependencies"  -->
<!-- [filterable]="false" [sortable]="false" [columnsResizable]="false" [columnsReorderable]="false" [columnMenu]="false" 
    [initiallyExpanded]="false" kendoGanttExpandable-->

<kendo-gantt [style.height.px]="600" [kendoGanttHierarchyBinding]="data" kendoGanttSelectable
    [(selectedKeys)]="selectedKeys">
    <kendo-gantt-column field="title" title="Task" [width]="200"></kendo-gantt-column>
    <kendo-gantt-column field="start" title="Start" format="dd/MM/yyyy" [width]="80" filter="date">
    </kendo-gantt-column>
    <kendo-gantt-column field="end" title="End" format="dd/MM/yyyy" [width]="80" filter="date">
    </kendo-gantt-column>
    <kendo-gantt-timeline-day-view></kendo-gantt-timeline-day-view>
    <kendo-gantt-timeline-week-view></kendo-gantt-timeline-week-view>
    <kendo-gantt-timeline-month-view></kendo-gantt-timeline-month-view>
    <button kendoButton>Option C</button>
    <button kendoButton>Default</button>
</kendo-gantt>