<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>Angular 6 Template-Driven Form Validation</h3>
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="clientForm.firstName"
                            #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" [(ngModel)]="clientForm.lastName"
                            #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="clientForm.password"
                            #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required
                            minlength="6" />
                    </div>
                    {{industries}}
                    {{sectors}}
                    {{countries}}


                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>