/* You can add global styles to this file, and also import other style files */
@import "~@progress/kendo-theme-default/dist/all.scss";
@import 'ag-grid-community/dist/styles/ag-grid.css'; // Core grid CSS, always needed
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css'; // Optional theme CSS
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

span.k-icon.k-i-close{display: none;}

html, body {
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
 }